html,
body {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.main__wrapper {
  width: 100%;
}
.content__Text {
  font-family: 'Oswald', sans-serif, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 5%;
}
.content__Picture {
  margin-left: 35%;
}
